@font-face {
    font-family: 'ITCAvantGardePro';
    src: url('./fonts/ITCAvantGardePro-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("./fonts/Avenir.ttc") format("truetype");
    font-weight: normal;
    font-style: normal;
}